* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 119, 38);
    font-family: sans-serif;
    color: white;
}
.location{
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.temperature {
    height: 35vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
.logo{
    height: 20vh;
    width: 20%;
    background-color: white;
}